/* GENERAL STYLES */

html {
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 200;
    margin-bottom: 17px;
}

h2 {
    font-weight: 600;
}

/* HEADER */

.header {
    font-size: 2.3rem;
    margin-bottom: 45px;
    margin-top: 80px;
    text-align: center;
}

.header p {
    color: hsl(229, 6%, 66%);
    font-size: 1rem;
    line-height: 1.5;
    margin: 25px auto;
    width: 40%;
}

/* CARDS */

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px/3.5px; /* elliptical radius ensures that border doesn't curve around the corner */
    height: 260px;
    margin: 15px;
    width: 320px;
}

.supervisor {
    border-top: solid 3.5px hsl(180, 62%, 55%);
}

.team-builder {
    border-top: solid 3.5px hsl(0, 78%, 62%);
}

.karma {
    border-top: solid 3.5px hsl(34, 97%, 64%);
}

.calculator {
    border-top: solid 3.5px hsl(212, 86%, 64%);
}